altair==5.5.0
blinker==1.9.0
Faker==37.6.0
GitPython==3.1.45
greenlet==3.2.4
numpy==2.3.4
pandas==2.3.2
pillow==11.3.0
plotly==6.3.0
protobuf==6.32.0
psycopg==3.2.12
pyarrow==21.0.0
pydeck==0.9.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
requests==2.32.5
SQLAlchemy==2.0.43
streamlit==1.49.1
streamlit-option-menu==0.4.0
tenacity==9.1.2
toml==0.10.2
typing_extensions==4.15.0
tzdata==2025.2
watchdog==6.0.0
